@model Estate.Models.Page

@{
    ViewData["Title"] = "ثبت آگهی اجاره";
    ViewData["Canonical"] = ViewBag.Canonical;
    @section Styles
    {
        <link rel="stylesheet" href="/css/Swiper.css" />
        <style>
            .mask {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-attachment: fixed;
            }

            .bg-image {
                position: relative;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
        </style>

    }
}
<div class="hero page-inner overlay"
<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('/images/home/hero_bg_3.jpg');
    height: 50vh;
  ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="display-5 fw-bold fs-2 text-white">@ViewData["Title"]</h1>

            </div>
        </div>
    </div>
</div>


<div class=" container mw-500">
    <div class="card mt-5">

        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <form asp-action="Rent" method="post" enctype="multipart/form-data" class="row text-dark">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="CategoryId" class="control-label mb-3 text-primary">دسته بندی</label>
                                    <select asp-for="CategoryId" class="form-control mb-3" asp-items="ViewBag.CategoryId"><option value="" selected disabled hidden>انتخاب کنید</option></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ImageUrl" class="control-label mb-3 text-primary">عکس آگهی</label>
                                    <input type="file" name="file" class="form-control mb-3" accept="image/*" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gallery" class="control-label mb-3 text-primary">گالری</label>
                                    <p class="mb-3">

                                        لطفاً تصاویری از فضای داخلی و خارجی ملک را اضافه فرمایید. اگر عکسی از ملک موجود نیست، می‌توانید آگهی را بدون عکس ثبت کنید.
                                    </p>
                                    <input type="file" name="files" class="form-control mb-3" multiple accept="image/*" />
                                    <p class="mb-3">تعداد عکس‌های انتخاب شده نباید بیشتر از ۲۰ باشد.</p>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label mb-3 text-primary">عنوان آگهی</label>
                                    <p class="mb-3">

                                        در عنوان آگهی، نکات مهمی مانند نوع ملک، متراژ و محله را ذکر کنید.
                                    </p>
                                    <input asp-for="Title" class="form-control mb-3" placeholder="آپارتمان دوخواب، نوساز، سند، 150 متری" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label mb-3 text-primary"></label>
                                    <input asp-for="Address" class="form-control mb-3" placeholder="رشت، معلم" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label mb-3 text-primary"></label>
                                    <p class="mb-3">

                                        لطفاً در عنوان آگهی به نکات کلیدی مانند نوع ملک، متراژ، محله و موقعیت جغرافیایی آن اشاره کنید.
                                    </p>
                                    <textarea asp-for="Description" class="form-control mb-3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Meterage" class="control-label mb-3 text-primary"></label>
                                    <input asp-for="Meterage" class="form-control mb-3" />
                                    <span asp-validation-for="Meterage" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Deposit" class="control-label mb-3 text-primary"></label>
                                    <input type="number" pattern="\d*" asp-for="Deposit" class="form-control mb-3" placeholder="قیمت به تومان" />
                                    <span asp-validation-for="Deposit" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rent" class="control-label mb-3 text-primary"></label>
                                    <input type="number" pattern="\d*" asp-for="Rent" class="form-control mb-3" placeholder="قیمت به تومان" />
                                    <span asp-validation-for="Rent" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="form-group">
                                    <label asp-for="Year" class="control-label mb-3 text-primary"></label>
                                    <input asp-for="Year" class="form-control mb-3" />
                                    <span asp-validation-for="Year" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rooms" class="control-label mb-3 text-primary"></label>
                                    <input asp-for="Rooms" class="form-control mb-3" />
                                    <span asp-validation-for="Rooms" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Floor" class="control-label mb-3 text-primary"></label>
                                    <input asp-for="Floor" class="form-control mb-3" />
                                    <span asp-validation-for="Floor" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Units" class="control-label mb-3 text-primary"></label>
                                    <input asp-for="Units" class="form-control mb-3" />
                                    <span asp-validation-for="Units" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TotalFloors" class="control-label mb-3 text-primary"></label>
                                    <input asp-for="TotalFloors" class="form-control mb-3" />
                                    <span asp-validation-for="TotalFloors" class="text-danger"></span>
                                </div>
                                <p class="mb-3 text-primary">امکانات ملک</p>
                                <div class="form-group form-check form-switch mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Elevator" /> @Html.DisplayNameFor(model => model.Elevator)
                                    </label>
                                </div>
                                <hr />
                                <div class="form-group form-check form-switch mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Parking" /> @Html.DisplayNameFor(model => model.Parking)
                                    </label>
                                </div>
                                <hr />

                                <div class="form-group form-check form-switch mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="StoreRoom" /> @Html.DisplayNameFor(model => model.StoreRoom)
                                    </label>
                                </div>
                                <hr />

                                <div class="form-group form-check form-switch mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Balcony" /> @Html.DisplayNameFor(model => model.Balcony)
                                    </label>
                                </div>
                                <hr />

                                <div class="form-group form-check form-switch mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Restored" /> @Html.DisplayNameFor(model => model.Restored)
                                    </label>
                                </div>
                                <hr />

                                <div class="form-group">
                                    <label asp-for="DocumentTypeId" class="control-label mb-3 text-primary"></label>
                                    <select asp-for="DocumentTypeId" class="form-control" asp-items="ViewBag.DocumentTypeId"><option value="5" selected hidden>انتخاب کنید</option></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BuildingDirectionId" class="control-label mb-3 text-primary"></label>
                                    <select asp-for="BuildingDirectionId" class="form-control" asp-items="ViewBag.BuildingDirectionId"><option value="5" selected hidden>انتخاب کنید</option></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ToiletId" class="control-label mb-3 text-primary"></label>
                                    <select asp-for="ToiletId" class="form-control" asp-items="ViewBag.ToiletId"><option value="4" selected hidden>انتخاب کنید</option></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CoolingId" class="control-label mb-3 text-primary"></label>
                                    <select asp-for="CoolingId" class="form-control" asp-items="ViewBag.CoolingId"><option value="6" selected hidden>انتخاب کنید</option></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HeatingId" class="control-label mb-3 text-primary"></label>
                                    <select asp-for="HeatingId" class="form-control" asp-items="ViewBag.HeatingId"><option value="8" selected hidden>انتخاب کنید</option></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HotWaterSupplierId" class="control-label mb-3 text-primary"></label>
                                    <select asp-for="HotWaterSupplierId" class="form-control" asp-items="ViewBag.HotWaterSupplierId"><option value="4" selected hidden>انتخاب کنید</option></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FloorMaterialId" class="control-label mb-3 text-primary"></label>
                                    <select asp-for="FloorMaterialId" class="form-control" asp-items="ViewBag.FloorMaterialId"><option value="8" selected hidden>انتخاب کنید</option></select>
                                </div>
                            </div>
                            <div class="form-group">

                                <input type="submit" value="ثبت آگهی" class="btn btn-primary" />
                            </div>
                        </form>
                    </section>

                    <div class="btn btn-outline-danger mt-3">
                        <a asp-action="Index" class="text-dark">انصراف</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
