@model Estate.Models.Page

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Page</h4>
    <hr />
    <img src="@Model.ImageUrl" width="25%" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meterage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meterage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Units)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Units)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elevator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elevator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balcony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balcony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restored)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restored)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direction.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toilet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toilet.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cooler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cooler.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heater.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterSupplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterSupplier.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.floorMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.floorMaterial.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isFeatured)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isFeatured)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
